<h1>
  <%= t('order_accepted') %>
</h1>
<h3>
  <%= t('directed') %> <%= @car.brand %> <%= @car.model %> <%= t('activerecord.attributes.car.color') %>: <%= @car.color %>,
  <%= t('activerecord.attributes.car.reg_number') %>: <%= @car.reg_number %>.
</h3>
<h3>
  <%= t('expect_arrival') %>
</h3>
