<h1>
  <%= t('welcome_email_intro1', user_first_name: @user.first_name, user_last_name: @user.last_name) %>
</h1>
<p>
  <%= t('welcome_email_intro2') %>
</p>
<div/>
<p>
  <%= t('welcome_email_intro3') %>
  <%= @url %>.
</p>
<p>
  <%= t('welcome_email_intro4') %>
</p>
